/* SNOWMAN STYLES */

.snowman-container {
    display: block;
    
    width: 100%;
    height: .001vw;
    position: absolute;
}

.snowman {
    display: inline-block;
    position: relative;
    top: -2vw;
    height: 11vw;
    width: 9.5vw;
    user-select: none;
    background: url('img/lvl2/snowman/snowman_idle.png') ;
    animation: snowman_idle 400ms steps(4) infinite;
    background-size: 400% 100%;
    background-position: center;
}